.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.main {
  width: 70%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}